<a href="https://colab.research.google.com/github/Lucrecia14/Arise_application/blob/main/arise_application_Idowu.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Arise Application Challenge
---

Please answer the questions shown below by completing the code within this notebook and filling in your final answers in the respective block of the arise Challenge Answers form.

---

### Step 1 (this step does not have an answer in the answer form)

Please import the Pandas package. You will need to install the package if you do not already have them (`hint - google anaconda install pandas`).

In [ ]:
import pandas as pd
import numpy as np

---

### Step 2 (this step does not have an answer in the answer form)

Use Pandas to read in the csv titled `application_data.csv` as a Panda's dataframe. Once you have read in the data as a dataframe use Panda's `head()` function to show an overview of the data.

In [ ]:
df = pd.read_csv('application_data.csv')
df

,customerID,loanId,appilcationDate,LoanNumber,LoanAmount,InterestRate,TermDays,repaymentDueDate,repaymentPaidDate
0,839247458,302953235622,2018-12-21,1,7500.0,30.0,30,2019-01-20,2019-01-16
1,217540860,302960101337,2018-12-23,1,7500.0,30.0,30,2019-01-22,2018-12-29
2,522238092,303016988846,2019-01-08,1,7500.0,30.0,30,2019-02-07,2019-01-08
3,096754469,302999605504,2019-01-04,1,7500.0,30.0,30,2019-02-03,2019-01-08
4,410354345,302951945878,2018-12-21,1,7500.0,30.0,30,2019-01-20,2019-01-17
...,...,...,...,...,...,...,...,...,...
995,964510149,302636726,2018-01-15,2,7500.0,30.0,30,2018-02-14,2018-01-20
996,251997198,302772445,2018-02-13,1,7500.0,30.0,30,2018-03-15,2018-03-14
997,899011279,302585439,2018-01-03,3,7500.0,30.0,30,2018-02-02,2018-10-12
998,648637210,302788322114,2018-11-19,1,7500.0,30.0,30,2018-12-19,2018-12-17
999,464788691,302683579,2018-01-24,1,7500.0,30.0,30,2018-02-24,2018-02-11

In [ ]:
df.head()

,customerID,loanId,appilcationDate,LoanNumber,LoanAmount,InterestRate,TermDays,repaymentDueDate,repaymentPaidDate
0,839247458,302953235622,2018-12-21,1,7500.0,30.0,30,2019-01-20,2019-01-16
1,217540860,302960101337,2018-12-23,1,7500.0,30.0,30,2019-01-22,2018-12-29
2,522238092,303016988846,2019-01-08,1,7500.0,30.0,30,2019-02-07,2019-01-08
3,096754469,302999605504,2019-01-04,1,7500.0,30.0,30,2019-02-03,2019-01-08
4,410354345,302951945878,2018-12-21,1,7500.0,30.0,30,2019-01-20,2019-01-17

You should now be able to see that the dataset contains information relating to loans that have been disbursed. Each row of the data is specific to a particular loan and displays the customer's ID that took out the loan, a unique loan ID, the date when the client applied for the loan, the loan number of the specific loan (how many loans the client has now taken out), the amount, interest rate, term days, the date when the loan repayment was due and the date the loan was actually repaid.

---

### Question 1

Convert `appilcationDate`, `repaymentDueDate` and `repaymentPaidDate` in the dataframes to datetimes.

In [ ]:
df[["appilcationDate","repaymentDueDate","repaymentPaidDate"]] = df[["appilcationDate","repaymentDueDate","repaymentPaidDate"]].apply(pd.to_datetime)

In [ ]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1000 entries, 0 to 999
Data columns (total 9 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   customerID         1000 non-null   object
 1   loanId             1000 non-null   object
 2   appilcationDate    1000 non-null   datetime64[ns]
 3   LoanNumber         1000 non-null   int64
 4   LoanAmount         1000 non-null   float64
 5   InterestRate       1000 non-null   float64
 6   TermDays           1000 non-null   int64
 7   repaymentDueDate   1000 non-null   datetime64[ns]
 8   repaymentPaidDate  1000 non-null   datetime64[ns]
dtypes: datetime64[ns](3), float64(2), int64(2), object(2)
memory usage: 70.4+ KB

Now that the dates have been converted, How many `unique`data types are contained within the application dataset?

In [ ]:
df.dtypes.nunique()

4

### Question 2

Please calculate the `average` loan amount, interest rate and termdays for all the loans in the dataset? `Round` all number to two decimal places.

In [ ]:
loan_mean = df['LoanAmount'].mean()

In [ ]:
loan_mean = round(loan_mean,2)
loan_mean

13828.08

In [ ]:
# 2b avg interest rate
round(df['InterestRate'].mean(), 2)

23.06

In [ ]:
# 2c avg term days 
round(df['TermDays'].mean(), 2)

42.08

---

### Question 3

Please create a new column called `dateDifference` which needs to contains the number of days between when the loan was repaid and when it was due to be repaid. 

Count the number of loans that were paid more than 3 days late. This can be done by first creating a dataframe only containing the loans that were paid more than 3 days late.

---

In [ ]:
# number of loans more than 3 days late 	
df['dataDifference'] = (df['repaymentDueDate']-df['repaymentPaidDate']).dt.days

df = df[df['dataDifference']>3]
df['dataDifference'].count()

555

### Question 4

Please group the dataset by `TermDays` and calculate the `mean` loan amount and the `standard deviation` of loan amount within each term.

What is the mean loan amount in 30-day loans and what is the standard deviation of  loan amount in 90-day loans? Please give your answers to the nearest two decimal places.

In [ ]:
#grouping the dataset by TermDays
df.groupby('TermDays')

In [ ]:
by_TermDays = df.groupby("TermDays")

In [ ]:
#calculating the mean loan amount within each term
df = pd.read_csv('application_data.csv')
df
df.head()
df.groupby('TermDays')
by_TermDays = df.groupby("TermDays")
by_TermDays['LoanAmount'].mean()

TermDays
15      1274.088050
30      7941.964286
45     10706.250000
60     25710.526316
90     37672.727273
120    45055.555556
180    80988.095238
Name: LoanAmount, dtype: float64

In [ ]:
#the mean loan amount in 30-days loan
from pandas.core.groupby import groupby
term_loan = round(df[df['TermDays']==30].groupby('TermDays')['LoanAmount'].mean(), 2)
term_loan.head()

TermDays
30    7941.96
Name: LoanAmount, dtype: float64

In [ ]:
#calculating the Standard deviation within each term
by_TermDays['LoanAmount'].std()

TermDays
15      2885.967406
30      1606.039495
45      2346.143820
60     11559.646185
90     18050.140602
120    22192.966854
180    34612.222587
Name: LoanAmount, dtype: float64

In [ ]:
#standard deviation loan amount in 90days
stan_dev_loanAmount = round(df[df['TermDays']==90].groupby('TermDays')['LoanAmount'].std(), 2)
stan_dev_loanAmount.head()

TermDays
90    18050.14
Name: LoanAmount, dtype: float64

---

### Question 5

`Late` loans are defined as loans that were paid `more than 3 days` after their due date. Please find the average number of days that these loans were paid beyond their due date for each `week of the year`. This will require you to break all `appilcationDate's` down into the week of the year they were made and then perform a group by. 

What is the average number of days that `late` loans applied for in the second week of the year were paid late? Please sumbit your answer rounded to two decimal places.

In [ ]:
# week of year and average number of late days
df[["appilcationDate","repaymentDueDate","repaymentPaidDate"]] = df[["appilcationDate","repaymentDueDate","repaymentPaidDate"]].apply(pd.to_datetime)
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1000 entries, 0 to 999
Data columns (total 9 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   customerID         1000 non-null   object
 1   loanId             1000 non-null   object
 2   appilcationDate    1000 non-null   datetime64[ns]
 3   LoanNumber         1000 non-null   int64
 4   LoanAmount         1000 non-null   float64
 5   InterestRate       1000 non-null   float64
 6   TermDays           1000 non-null   int64
 7   repaymentDueDate   1000 non-null   datetime64[ns]
 8   repaymentPaidDate  1000 non-null   datetime64[ns]
dtypes: datetime64[ns](3), float64(2), int64(2), object(2)
memory usage: 70.4+ KB

In [ ]:
df['wk_no_of_yr'] = df['appilcationDate'].dt.isocalendar().week

In [ ]:
df = df.groupby(['appilcationDate']).agg({'wk_no_of_yr':['mean']}).round(2)

In [ ]:
df

                wk_no_of_yr
                       mean
appilcationDate
2018-01-01              1.0
2018-01-02              1.0
2018-01-03              1.0
2018-01-04              1.0
2018-01-05              1.0
...                     ...
2019-01-12              2.0
2019-01-13              2.0
2019-01-14              3.0
2019-01-15              3.0
2019-01-16              3.0

[254 rows x 1 columns]

In [ ]:
round(df.mean(), 2)

wk_no_of_yr  mean    23.07
dtype: float64

---

### The End

Thank you for completing the challenge. Please make sure you have submitted all of your answers to the arise Challenge Answers form.

### Notebook
Please save you notebook as `yourEmail.ipynb` where you replace `yourEmail` with your actual email address and attach it to the iodeajo@gmail.com.